<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
  nav {
    float: left;
    padding: 10px;
    width: 100%;
  }
  #nav-bar {
    float: left;
  }
  </style>
  </head>

  <body>
  <nav>
    <div id="nav-bar">
    <!-- <a href="/">Home</a> -->
    <%= link_to 'Home', root_path %>
    |
    <%= link_to 'About', about_path %>
    |
    <%= link_to 'Contact Us', contact_path %>
    |
    <%= link_to 'New Products', new_product_path %>
    |
    <%= link_to 'All Products', products_path %>
    |
    <%= link_to 'All Tags', tags_path %>
    |
    <% if session[:user_id].present? %>
      Hello <%= current_user.first_name %>
      |
      <%= link_to 'Favourites', favourites_path %>
      |
      <%= link_to 'Sign out', sessions_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', new_user_path %>
    |
      <%= link_to 'Sign In', new_session_path %>
    <% end %>
    </div>
  </nav>
  <br>
  <br>
  <hr>
    <%= yield %>
  </body>
</html>
